.book-group {
    width: 55%;
    text-align:center;
    margin-top: 2em;
    overflow:hidden;
}

.book-div {
    float: left;
    width: 200px;
    height:500px;
    margin-top: 2em;
    margin-right:1em;
}

.book-name {
    font-weight: bold;
}

.book-author {

}

.book-price {
    color: #FF0000;
}

.book-pic{
}